.categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-items: center;
  justify-items: center;
  background-color: rgb(255, 255, 255);
  filter: blur(5px);
  visibility: hidden;
  position: absolute;
  padding: 20px;
  top: 30px;
  z-index: 10;
  gap: 20px;
  width: 100%;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.open {
  opacity: 1;
  min-height: 50vh;
  height: auto;
  visibility: visible;
  filter: blur(0);
}

.category {
  all: unset;
  cursor: pointer;
}
