.home {
  margin-top: -10vh;
  color: rgb(255, 255, 255);
  display: flex;
  background: url("src/assets/images/home-background.jpeg");
  background-position: center;
  background-size: cover;
  height: 90vh;
}

.shopDescription {
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  align-self: flex-start;
  margin-top: 20vh;
  margin-left: 20vw;
  padding: 10px;
  width: 100%;
  min-width: 100px;
  max-width: 400px;
  background-color: rgb(255, 255, 255);
}

.shopButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-top: 2%;
  color: rgb(255, 255, 255);
  background-color: black;
  font-size: large;
  width: 40%;
  min-width: 105px;
  height: 50px;
}

.homeLogo {
  color: black;
  font-size: 3rem;
  width: auto;
  align-self: flex-end;
}

.home h2 {
  align-self: flex-start;
  width: auto;
  position: relative;
  top: 45%;
  left: 10%;
  font-size: 6vw;
}

.home p {
  width: auto;
}

.homeDescription {
  font-size: 90%;
}
