.shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.categoriesButton {
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  width: auto;
  height: 3vh;
  max-width: 170px;
  margin-left: 10%;
  font-size: 1.2rem;
}

.categoriesButton:hover {
  color: rgb(194, 194, 194);
}
