.shop {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 80vh;
}

.categoriesButton {
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(0, 0, 0);
  margin-left: 5vw;
  width: 20px;
  z-index: 1;
  transition: all 0.25s ease-in;
  transform-origin: center;
}

.categoriesButton:hover {
  transform: scale(1.03);
  will-change: transform;
}
