.orderModal {
  display: flex;
  justify-content: center;
  position: fixed;
  inset: 0;
  background-color: rgba(81, 81, 81, 0.377);
}

.modalContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  position: relative;
  top: 20vh;
  background-color: rgb(255, 255, 255);
  width: 40vw;
  height: 25vh;
}

.modalContent button {
  cursor: pointer;
  border: none;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
}
